includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
        - config/
        - database/

    level: 8
    tmpDir: ../../storage/framework/cache/phpstan/survey-core
    checkModelProperties: false

    ignoreErrors:
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/*
